<h1>OBSOLETE</h1>



<div class="wrapper-page-new-quote">
  <div class="container">
    <div class="row new-quote-right">
      <div class="col-xs-12 col-sm-5">
        <h2 class="text-center">Et voilà votre devis</h2>
        <div class="row place-form-designation">
          <h2 class="text-center">On vous avez bien dit qu'on était<br>une assurance simple et pratique</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-7 right">
          <h2 class="text-center">Devis d'assurance pour <%= @place.name %></h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7 right">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h3>Adresse : <%= @place.address %></h3>
            <h3>Date de début :
              <%= simple_form_for @place do |f| %>
              <%= f.input :start_date, label: 'Date de début', as: :string, input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
              <%end%>
            </h3>
            <table>
              <thead>Formule Zen</thead>
              <tbody>
                <tr>Plafond d'indémnistration</tr>
                  <td><%= @quote.covered_amount %></td>
                <tr>Responsabilité civile</tr>
                  <td>20 millions €</td>
                <tr>Défense pénale</tr>
                  <td><i class="fa fa-check" aria-hidden="true"></i></td>
                <tr>Assistance</tr>
                  <td><i class="fa fa-check" aria-hidden="true"></i></td>
              </tbody>
            </table>
           </div>
          <div class="col-xs-12 col-sm-6">
            <button type="button" class="btn default-button btn-lg active devis-button"><%= @quote.price %><br>par mois</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
