<div class="wrapper-page-new-quote">
  <div class="container">
    <div class="row new-quote-right">

      <form cf-form-element action="/places/<%= @place.id %>/quotes" method="post">

      <div class="col-xs-12 col-sm-5">
            <p class="text-center">Etape 2 sur 3</p>
          <div class="row place-form-designation">
            <h2 class="text-center">... pour nous permettre de vous proposer un devis...</h2>
          </div>
      </div>

      <div class="col-xs-12 col-sm-6 form-place">

          <%= form_for([@place, @quote]) do |f| %>

            <%= f.label :home_insurance, "Avez-vous déja une assurance habitation?" %>
            <%= f.select :home_insurance, ["Oui", "Non"] %>

            <%= f.label :start_date, "A quelle date souhaitez-vous débuter le contrat? (YYYY-MM-DD)" %>
            <%= f.date_field :start_date %>

            <%= f.label :rib, "Merci de nous fournir votre RIB (FRxx xxxx xxxx xxxx xxxx xxxx xxx" %>
            <%= f.text_field :rib %>

            <%= f.submit :submit %>

          <% end %>
        </div>
    </div>
  </div>
</div>

