Devis n°<%= @quote.id %> <br>
Tarif annuel : <%= @quote.price %> euros <br>
Montant couvert : <%= @quote.covered_amount %> euros

<h2>Récapitulatif du bien à assurer</h2>
Superficie : <%= @quote.place.superficy %><br>
Adresse : <%= @quote.place.address %><br>
Code postal : <%= @quote.place.postal_code %><br>
Ville : <%= @quote.place.city %><br>
Superficie du bien : <%= @quote.place.superficy %><br>
Superficie du bien : <%= @quote.place.superficy %><br>
