<div class="row">
  <% @available_providers.each do |provider| %>
    <div class="col-xs-12 col-sm-4">
      <div class="presta-card">
        <div class="presta-photo" style="background-image:
         linear-gradient(to top right, rgba(0,0,0,0.6) 10%, rgba(0,0,0,0.1) 60%), url('<%= cl_image_path provider.photo.path %>')">
          <div class="presta-speciality">
            <%= provider.speciality %>
          </div>
        </div>
        <div class="presta-desc">
          <h4><%= provider.first_name %> <%= provider.last_name %></h4>
          <%= provider.company %>
          <p>
            <%= provider.address %>
            <%= provider.zip_code %>
            <%= provider.city %>
          </p>

        </div>
        <div class="presta-rdv text-center">
          <%= simple_form_for [@damage, @booking], remote: true do |f| %>
            <%= f.hidden_field :damage_id, value: @damage.id %>
            <%= f.hidden_field :provider_id, value: provider.id %>
            <%= f.hidden_field :date, value: @date %>
            <%= f.hidden_field :am_pm, value: @am_pm %>
            <%= f.button :submit, "Prendre rendez-vous", class: "default-button btn" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
