<div class="wrapper-page-new-quote">
  <div class="container">

      <form cf-form-element action="/users/<%= @user.id %>/edit" method="patch">

    <div class="row new-quote-right">

      <div class="col-xs-12">
        <div class="damage-designation text-center">
            <h2 class="text-center">Faisons connaissance...</h2>
          </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-sm-offest-3 form-place">

          <%= form_for @user, method: :patch do |f|  %>

            <%= f.label :sex, "Vous êtes un(e)" %>
            <%= f.select :sex, ["Homme", "Femme"] %>

            <%= f.label :last_name, "Quel est votre nom de famille?" %>
            <%= f.text_field :last_name %>

            <%= f.label :first_name, "Quel est votre prénom?" %>
            <%= f.text_field :first_name %>

            <%= f.label :situation, "Vous êtes..." %>
            <%= f.select :situation, ["Célibataire", "Marié(e)", "Pacsé(e)", "Veuf(ve)"] %>

            <%= f.label :birth_date, "Quelle est votre date de naissance? (YYYY-MM-DD)" %>
            <%= f.date_field :birth_date %>

            <%= f.label :nb_children, "Combien d'enfants avez-vous?" %>
            <%= f.select :nb_children, ["0", "1", "2", "3", "4+"] %>

            <%= f.label :job, "Quelle est votre profession?" %>
            <%= f.select :job, ["Agriculteur exploitant", "Artisant commerçant", "Assistante maternelle", "Cadre", "Profession libérale", "Employé", "Enseignant", "Etudiant", "Ouvrier", "Retraité", "Sans activité professionnelle", "Autre"] %>

            <%#= f.hidden_field :next, value: "logement" %>

            <%= f.submit :submit %>

          <% end %>
        </div>
         </div>
    </div>
</div>
