<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
  <div class="banner-content">
    <h1>HOMEGA</h1>
    <p>La première assurance habitation incluant la gestion des sinistres sans avance de frais et 100% en ligne</p>
    <%= link_to "Inscrivez vous", new_user_registration_path, class: "btn-treehouse btn-lg" %>
  </div>
</div>


<div class="wrapper-home">
  <div class="container-home">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="whatwedo text-center">
          <h2><b>100% en ligne</b></h2>
          <%= image_tag("digital-icon.png") %>
          <p style="font-size: 14px">Inscription, déclaration de sinistre et prise de rendez-vous avec les prestataire: tout se fait en quelques clics sur notre platedforme</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="whatwedo text-center">
          <h2><b>100% intégré</b></h2>
          <%= image_tag("full-stack.png") %>
          <p style="font-size: 14px">Pas besoin de trouver un prestataire ni d'avancer l'argent: nous gérons toutes les formalités pour vous</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="whatwedo text-center">
          <h2><b>Sans engagement</b></h2>
          <%= image_tag("sans-engagement.png") %>
          <p style="font-size: 14px">Vous n'êtes pas engagé: à tout moment vous pouvez résilier votre contrat en quelques clics et sans frais</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-home">
  <div class="container-home">
    <div class="row">
      <div class="title text-center "> <h1> <b>Le meilleur rapport qualité/prix du marché</b></h1>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="whatwedo text-center">
          <h2><b>Assurance locataire</b></h2>
          <p text-center>A partir de</p>
          <h1 text-center><b>5 € / mois</b>  </h1>
          <div class="button text-center"> <%= link_to "Souscrire", new_user_registration_path, class: "btn-treehouse btn-lg" %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="whatwedo text-center">
          <h2><b>Assurance propriétaire</b></h2>
          <p text-center>A partir de</p>
          <h1 text-center><b>15 € / mois</b></h1>
          <div class="button text-center"> <%= link_to "Souscrire", new_user_registration_path, class: "btn-treehouse btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-home">
  <div class="container-home">
    <div class="row">
      <div class="title text-center "> <h1> <b>Déjà assuré?<br>  Passez à Homega en quelques clics et sans frais</b></h1>
      </div>
        <div class="col-xs-12 col-sm-6">
          <div class="whatwedo text-center">
            <h2><b>On s'occupe de tout</b></h2>
            <%= image_tag("formalité-administrative.png") %>
            <p style="font-size: 14px">Nous analysons votre contrat. Nous rédigeons votre lettre de résiliation, vous la signez en ligne puis nous l'envoyons pour vous.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="whatwedo text-center">
            <h2><b>Vous ne payez rien</b></h2>
            <%= image_tag("gratuit.gif") %>
            <p style="font-size: 14px">Aucun frais sur votre résiliation. Vous payez le mois en cours avec votre assurance actuelle puis vous passez à Homega le mois suivant </p>
          </div>
        </div>
    </div>
        <div class="button text-center"> <%= link_to "Changez maintenant", new_user_registration_path, class: "btn-treehouse btn-lg" %>
        </div>
  </div>
</div>

<div class="wrapper-home">
  <div class="container-home">
    <div class="row">
      <div class="col-xs-12 col-sm-6 value-proposition text-center whatwedo">
        <h2><b>100% en ligne</b></h2>
        <%= image_tag("digital-icon.png") %>
      </div>
      <div class="col-xs-12 col-sm-6 value-proposition-content whatwedo">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <h2><b>Souscription en ligne</b></h2>
            <%= image_tag("digital-icon.png") %>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p style="font-size: 14px">Toutes vos démarches de souscription ou de migration depuis une autre assurance se font sur notre plateforme: </p>
            <ol>
              <li> Rentrez les information sur votre logement et vos besoins</li>
              <li> Nous vous imprimons un devis </li>
              <li> Vous signez le contrat Pdf directement sur la plateform </li>
              <li> Vous êtes assuré! </li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <h2><b>Declaration de sinistre en ligne</b></h2>
            <%= image_tag("digital-icon.png") %>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p style="font-size: 14px">Déclarez vos sinistres en quelques clics: </p>
            <ol>
              <li> Rentrez les information sur votre logement et vos besoins</li>
              <li> Nous vous imprimons un devis </li>
              <li> Vous signez le contrat Pdf directement sur la plateform </li>
              <li> Vous êtes assuré! </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<% if signed_in? %>
  <%= link_to "Créer un logement", new_place_path %> | <%= link_to "Déclarer un sinistre", new_damage_path %>
<% end %>
