    <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('banner.jpg') %>');">
      <div class="banner-content">
        <h1>HOMEGA</h1>
        <p>La première assurance habitation incluant la gestion des sinistres sans avance de frais et 100% en ligne</p>
        <%= link_to "Inscrivez vous", new_user_registration_path, class: "btn-treehouse btn-lg" %>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="whatwedo text-center">
            <h1><b>100% en ligne</b></h1>
            <%= image_tag("digital-icon.png") %>
            <p style="font-size: 14px">Inscription, déclaration de sinistre et prise de rendez-vous avec les prestataires: tout se fait en quelques clics sur notre plateforme</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="whatwedo text-center">
            <h1><b>100% intégré</b></h1>
            <%= image_tag("full-stack.png") %>
            <p style="font-size: 14px">Pas besoin de trouver un prestataire ni d'avancer l'argent: nous gérons toutes les formalités pour vous</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="whatwedo text-center">
            <h1><b>Sans engagement</b></h1>
            <%= image_tag("sans-engagement.png") %>
            <p style="font-size: 14px">Vous n'êtes pas engagés: à tout moment vous pouvez résilier votre contrat en quelques clics et sans frais</p>
          </div>
        </div>
      </div>



<% if signed_in? %>
  <%= link_to "Créer un logement", new_place_path %> | <%= link_to "Déclarer un sinistre", new_damage_path %>
<% end %>
