<div class="wrapper-page-new-quote">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 background-form">

        <h2>Déclarez un sinistre</h2>

          <%= simple_form_for @damage do |f| %>
            <% if @place_id %>
              <%= f.input :place_id, collection: @places, selected: @place.name, label: "Bien concerné" %>
            <% else %>
              <%= f.input :place_id, collection: @places, label: "Bien concerné" %>
            <% end %>
            <%= f.input :category, label: "Catégorie", :collection => ["Dégât des eaux", "Vol", "Incendie", "Catastrophe naturelle"] %>

            <div class="hidden" id="responsabilite_civile">
              <%= f.input :civil_responsability, label: "Responsabilité civile" %>
            </div>
            <div class="hidden" id="responsabilite">
              <%= f.input :responsability, label: "Responsabilité", :collection => ["L'origine du sinistre provient de chez moi", "L'origine du sinistre ne provient pas de chez moi", "Je ne sais pas"] %>
            </div>
            <div class="hidden" id="effraction">
              <%= f.input :breaking, label: "Effraction" %>
            </div>
            <div class="hidden" id="valeur_bien">
              <%= f.input :value_thief, label: "Valeur des biens volés" %>
            </div>
            <%= f.input :comment, label: "Commentaires" %>
            <%= f.input :photos, as: :attachinary %>
            <div>
            <%= f.button :submit, "Continuer", class: 'btn default-button' %>
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('select').change(function () {
       if($('#damage_category').val() == "Vol"){
          $("#effraction").removeClass('hidden');
          $("#valeur_bien").removeClass('hidden');
          $("#responsabilite").addClass('hidden');
          $("#responsabilite_civile").addClass('hidden');
        } else if ($('#damage_category').val() == "Dégât des eaux"){
          $("#effraction").addClass('hidden');
          $("#valeur_bien").addClass('hidden');
          $("#responsabilite").removeClass('hidden');
          $("#responsabilite_civile").removeClass('hidden');
        } else {
          $("#effraction").addClass('hidden');
          $("#valeur_bien").addClass('hidden');
          $("#responsabilite").addClass('hidden');
          $("#responsabilite_civile").addClass('hidden');
        }
      });
    });
  </script>
<% end %>
