<div class="wrapper-page-new-quote">
  <div class="container">
    <form cf-form-element action="/damages" method="post">
      <% if params[:type] == "incendie" %>
        <h2 class="no-margin">Déclarez un incendie</h2>
      <% elsif params[:type] == "catastrophe" %>
        <h2 class="no-margin">Déclarez une catastrophe naturelle</h2>
      <% elsif params[:type] == "degats" %>
        <h2 class="no-margin">Déclarez un dégât des eaux</h2>
      <% elsif params[:type] == "vol" %>
        <h2 class="no-margin">Déclarez un vol</h2>
      <% else %>
        <h2 class="no-margin">Déclarez un(e)</h2>
      <% end %>
      <div class="row new-quote-right">


      <div class="col-xs-12">
        <div class="damage-designation text-center">
          <%= link_to "Dégât des eaux", new_damage_path(type: "degats"), class: "btn default-button" %>
          <%= link_to "Vol", new_damage_path(type: "vol"), class: "btn default-button" %>
          <%= link_to "Incendie", new_damage_path(type: "incendie"), class: "btn default-button" %>
          <%= link_to "Catastrophe naturelle", new_damage_path(type: "catastrophe"), class: "btn default-button" %>
        </div>
      </div>

      <hr>

      <div class="col-xs-12 col-sm-6 col-sm-offest-3 form-place">
        <% if params[:type] %>
          <%= form_for @damage do |f| %>

            <% if params[:type] == "incendie" %>
              <%= f.label :place_id, "Quel est le logement concerné par cet incendie?" %>
              <%= f.select :place_id, @places %>

              <%= f.hidden_field :category, value: "Incendie" %>
            <% elsif params[:type] == "catastrophe" %>
              <%= f.label :place_id, "Quel est le logement concerné par cette catastrophe?" %>
              <%= f.select :place_id, @places %>

              <%= f.hidden_field :category, value: "Catastrophe naturelle" %>
            <% elsif params[:type] == "degats" %>
              <%= f.label :place_id, "Quel est le logement concerné par ce dégât des eaux?" %>
              <%= f.select :place_id, @places %>

              <%= f.hidden_field :category, value: "Dégât des eaux" %>

              <%= f.label :civil_responsability, "Responsabilité civile?" %>
              <%= f.select :civil_responsability, ["Oui", "Non"] %>

              <%= f.label :responsability, "D'où provient le sinistre?" %>
              <%= f.select :responsability, ["L'origine du sinistre provient de chez moi", "L'origine du sinistre ne provient pas de chez moi", "Je ne sais pas"] %>
            <% elsif params[:type] == "vol" %>
              <%= f.label :place_id, "Quel est le logement concerné par ce vol?" %>
              <%= f.select :place_id, @places %>

              <%= f.hidden_field :category, value: "Vol" %>

              <%= f.label :breaking, "Y a-t-il eu effraction?" %>
              <%= f.select :breaking, ["Oui", "Non"] %>

              <%= f.label :value_thief, "Quelle est la valeur des biens volés?" %>
              <%= f.text_field :value_thief %>
            <% end %>

              <%= f.label :comment, "Ajoutez des commentaires si vous le souhaitez..." %>
              <%= f.text_field :comment %>

            <%= f.submit :submit%>

            <% end %>
        <% else %>
          <%= form_for @damage do |f| %>
            <%= f.hidden_field :place_id, value: current_user.places.first['name'] %>
            <%= f.submit :submit %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<% end %>
