<div class="wrapper-page-new-quote">
  <div class="container">
    <div class="row new-quote-right">

      <form cf-form-element action="/damages" method="post">

      <div class="col-xs-12 col-sm-5">
          <div class="row damage-form-designation text-center">
          <% if params[:type] == "incendie" %>
            <h2 class="text-center">Déclarez un incendie</h2><br><br><br>
          <% elsif params[:type] == "catastrophe" %>
            <h2 class="text-center">Déclarez une catastrophe naturelle</h2><br><br><br>
          <% elsif params[:type] == "degats" %>
            <h2 class="text-center">Déclarez un dégât des eaux</h2><br><br><br>
          <% elsif params[:type] == "vol" %>
            <h2 class="text-center">Déclarez un vol</h2><br><br><br>
          <% else %>
            <h2 class="text-center">Déclarez un(e)</h2><br><br><br>
          <% end %>
            <%= link_to "Dégât des eaux", new_damage_path(type: "degats"), class: "damage-button" %>
            <%= link_to "Vol", new_damage_path(type: "vol"), class: "damage-button" %><br><br><br>
            <%= link_to "Incendie", new_damage_path(type: "incendie"), class: "damage-button" %>
            <%= link_to "Catastrophe naturelle", new_damage_path(type: "catastrophe"), class: "damage-button" %>
          </div>
      </div>

      <div class="col-xs-12 col-sm-6 form-place">
        <% if params[:type] %>
          <%= form_for @damage do |f| %>

            <% if params[:type] == "incendie" %>
              <%= f.label :place_id, "Quel est le bien concerné par cet incendie?" %>
              <%= f.select :place_id, @places %>

              <%= f.hidden_field :category, value: "Incendie" %>
            <% elsif params[:type] == "catastrophe" %>
              <%= f.label :place_id, "Quel est le bien concerné par cette catastrophe?" %>
              <%= f.select :place_id, @places %>

              <%= f.hidden_field :category, value: "Catastrophe naturelle" %>
            <% elsif params[:type] == "degats" %>
              <%= f.label :place_id, "Quel est le bien concerné par ce dégâts des eaux?" %>
              <%= f.select :place_id, @places %>

              <%= f.hidden_field :category, value: "Dégâts des eaux" %>

              <%= f.label :civil_responsability, "Responsabilité civile?" %>
              <%= f.select :civil_responsability, ["Oui", "Non"] %>

              <%= f.label :responsability, "D'où provient le sinistre?" %>
              <%= f.select :responsability, ["L'origine du sinistre provient de chez moi", "L'origine du sinistre ne provient pas de chez moi", "Je ne sais pas"] %>
            <% elsif params[:type] == "vol" %>
              <%= f.label :place_id, "Quel est le bien concerné par ce vol?" %>
              <%= f.select :place_id, @places %>

              <%= f.hidden_field :category, value: "Vol" %>

              <%= f.label :breaking, "Y a-t-il eu effraction?" %>
              <%= f.select :breaking, ["Oui", "Non"] %>

              <%= f.label :value_thief, "Quelle est la valeur des biens volés?" %>
              <%= f.text_field :value_thief %>
            <% end %>

              <%= f.label :comment, "Ajoutez des commentaires si vous le souhaitez..." %>
              <%= f.text_field :comment %>

            <%= f.submit :submit %>

            <% end %>
        <% else %>
          <%= form_for @damage do |f| %>
            <%= f.hidden_field :place_id, value: current_user.places.first['name'] %>
            <%= f.submit :submit %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('select').change(function () {
       if($('#damage_category').val() == "Vol"){
          $("#effraction").removeClass('hidden');
          $("#valeur_bien").removeClass('hidden');
          $("#responsabilite").addClass('hidden');
          $("#responsabilite_civile").addClass('hidden');
        } else if ($('#damage_category').val() == "Dégâts des eaux"){
          $("#effraction").addClass('hidden');
          $("#valeur_bien").addClass('hidden');
          $("#responsabilite").removeClass('hidden');
          $("#responsabilite_civile").removeClass('hidden');
        } else {
          $("#effraction").addClass('hidden');
          $("#valeur_bien").addClass('hidden');
          $("#responsabilite").addClass('hidden');
          $("#responsabilite_civile").addClass('hidden');
        }
      });
    });
  </script>
<% end %>
