<div class="wrapper-page-new-quote">
  <div class="container">


    <div class="new-quote-right">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
        <div class="damage">
          <h4><%= @damage.place.name %></h4>
          <p><%= @damage.place.address %></p>
          <p>Catégorie : <%= @damage.category %></p>
          <% @damage.photos.each do |photo| %>
            <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
          <% end %>
          </div>

          <div class="msg-confirmation">

          </div>

          <div class="search-presta">
            <div class="damage">
            <h4>Planification de votre intervention</h4>


            <p>Je suis disponible le :</p>

            <%= simple_form_for :search, url: damage_bookings_path(@damage), :html => { :method => "get", :class => "form-inline" }, remote: true do |f| %>
              <div class="select-input">
                <%= f.label :date, required: true, label: "Date: " %>
                <%= f.input :date, :input_html => { :class => 'form-control-presta datepicker' }, label: false %>
              </div>
              <div class="select-input">
                <%= f.label :am_pm, required: true, label: "Quand: " %>
                <%= f.input :am_pm, collection: ["matin", "après-midi"], :input_html => { :class => 'form-control-presta' }, label: false %>
              </div>
              <div class="form-group">
                <%= f.button :submit, "Rechercher", class: "default-button btn" %>
              </div>
            <% end %>
            </div>
          </div>

        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="confirmation-box">
            <h4 class="text-center">Mes rendez-vous en cours</h4>
            <div class="rdv-list">
              <% @damage.bookings.each do |booking| %>
                <div class="rdv">
                  <div class="row">
                    <div class="col-sm-2">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-10">
                      <div id="rdv-date">Le <%= booking.date.strftime('%d-%m-%Y') %> (<%= booking.am_pm %>)</div><br>
                      <div id="rdv-infos">
                        Société <%= booking.provider.company %> (<%= booking.provider.speciality %>)<br>
                        <%= booking.provider.first_name %> <%= booking.provider.last_name %><br>
                        <%= booking.provider.address %> <%= booking.provider.zip_code %> <%= booking.provider.city %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="liste-presta">

        </div>
      </div>
    </div>
  </div>
</div>

