<div class="wrapper-page-new-quote">
  <div class="container">
       <form class="cf-form-element" action="/places" method="post">

    <div class="row new-quote-right">
      <div class="col-xs-12">
        <div class="damage-designation text-center">
          <h2 class="text-center">Quelques informations concernant votre logement...</h2>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-sm-offest-3 form-place">

          <%= form_for @place do |f| %>

            <%= f.label :name, "Donnez un nom à votre logement" %>
            <%= f.text_field :name %>

            <%= f.label :category, "Quel est le type de ce logement?" %>
            <%= f.select :category, ["Appartement", "Maison", "Hotel Particulier", "Chateau", "Loft"] %>

            <%= f.label :address, "A quelle adresse se situe-t-il?" %>
            <%= f.text_field :address %>

            <%= f.label :superficy, "Quelle est la superficie en m²?" %>
            <%= f.text_field :superficy %>

            <%= f.label :heating_type, "Quel est le type de chauffage?" %>
            <%= f.select :heating_type, ["Central", "Individuel"] %>

            <%= f.label :building_type, "Quel est le type de bâtiment?" %>
            <%= f.select :building_type, ["Neuf", "Ancien"] %>

            <%= f.label :kitchen_type, "Quel est le type de cuisinière?" %>
            <%= f.select :kitchen_type, ["Gaz", "Electricité"] %>

            <%= f.label :water_room, "Combien y a-t-il de pièces d'eau?" %>
            <%= f.text_field :water_room %>

            <%= f.label :floor, "A quel étage se situe le logement?" %>
            <%= f.select :floor, ["RDC", "Intermédiaire", "Dernier Etage"] %>

            <%= f.label :chimney, "Avez-vous une cheminée" %>
            <%= f.select :chimney, ["Oui", "Non"] %>

            <%= f.label :status, "Quel est votre statut?" %>
            <%= f.select :status, ["Locataire", "Co-locataire", "Propriétaire", "Propriétaire Non Occupant"] %>

            <%= f.label :already_insured, "Avez-vous déjà une assurance habitation" %>
            <%= f.select :already_insured, ["Oui", "Non"] %>

            <%= f.submit :submit %>

          <% end %>
      </div>
      </div>
  </div>
</div>
