<div class="wrapper-page-new-quote">
  <div class="container">
    <div class="row new-quote-right">
      <div class="col-xs-12 col-sm-3">
        <div class="row place-form-designation">
          <h2 class="text-center">Et voilà votre devis,<br> cliquez sur la vignette pour souscrire</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 right">
        <div class="bordered">
          <h2 class="text-center">Devis d'assurance pour <%= @place.name %></h2>
          <div class="col-xs-12 col-sm-12 right devis">
            <div class="row">
              <div class="col-xs-4 lighter">Adresse :</div>
              <div class="col-xs-8 lighter"><%= @place.address %></div>
            </div>
            <div class="row">
              <div class="col-xs-4 zen">Formule Zen</div>
            </div>
            <div class="row">
              <div class="col-xs-4 lighter">Plafond d'indémnisation :</div>
              <div class="col-xs-8 lighter"><%= @quote.covered_amount %>€</div>
            </div>
            <div class="row">
              <div class="col-xs-4 lighter">Responsabilité civile :</div>
              <div class="col-xs-8 lighter">20M€</div>
            </div>
            <div class="row">
              <div class="col-xs-4 lighter">Défense pénale :</div>
              <div class="col-xs-8 lighter"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <div class="row">
              <div class="col-xs-4 lighter">Assistance :</div>
              <div class="col-xs-8 lighter"><i class="fa fa-check" aria-hidden="true"></i></div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-8 lighter">
                <%= simple_form_for [@place, @quote] do |f| %>
                  <div class="select-input">
                    <%= f.input :start_date, required: true, label: "Date de début :", as: :string, input_html: { class: "datepicker" }, placeholder: '01-01-2017' %>
                    <i class="fa fa-caret-down"></i>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 right">
        <div class="row place-form-designation2">

          <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center devis-button-placement">
            <button type="button" class="btn default-button btn-lg active devis-button" data-toggle="modal" data-target=".bs-example-modal-sm"">Souscrire<br>pour<br><%= @quote.price %>€/an</button>
          </div>
        </div>

        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <form>
                <div class="form-group">
                  <label for="Numerocarte">N° de carte</label>
                  <input type="email" class="form-control" id="Numerocarte" placeholder="1234 5678 9123 4567">
                </div>

                <div class="form-group">
                  <label for="Date">Date d'expiration</label>
                  <input type="text" class="form-control" id="Date" placeholder="01/18">
                </div>
                <div class="form-group">
                  <label for="CVC">CVC</label>
                  <input type="email" class="form-control" id="CVC" placeholder="123">
                </div>
              </form>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn default-button"">Souscrire</button> -->
                <%= link_to "Souscrire", finalization_path(@place), class: "btn btn default-button" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





