<div class="wrapper-page-new-quote">
  <div class="container">
    <div class="row new-quote-right">
      <div class="col-xs-12 col-sm-5">
        <h2 class="text-center">Et voilà votre devis</h2>
        <div class="row place-form-designation">
          <h2 class="text-center">Vous êtes presque assurés,<br> cliquez sur la vignette pour souscrire</h2>
        </div>
      </div>


        <div class="col-xs-12 col-sm-7 right">
          <h2 class="text-center">Devis d'assurance pour <%= @place.name %></h2>
        </div>
        <div class="col-xs-12 col-sm-7 right devis">
              <div class="row">
                <div class="col-xs-4 lighter">Adresse :</div>
                <div class="col-xs-8 lighter"><%= @place.address %></div>
              </div>
              <div class="row">
                <div class="col-xs-4 zen">Formule Zen</div>
              </div>
              <div class="row">
                <div class="col-xs-4 lighter">Plafond d'indémnisation :</div>
                <div class="col-xs-8 lighter"><%= @quote.covered_amount %>€</div>
              </div>
              <div class="row">
                <div class="col-xs-4 lighter">Responsabilité civile :</div>
                <div class="col-xs-8 lighter">20M€</div>
              </div>
              <div class="row">
                <div class="col-xs-4 lighter">Défense pénale :</div>
                <div class="col-xs-8 lighter"><i class="fa fa-check" aria-hidden="true"></i></div>
              </div>
              <div class="row">
                <div class="col-xs-4 lighter">Assistance :</div>
                <div class="col-xs-8 lighter"><i class="fa fa-check" aria-hidden="true"></i></div>
              </div>
              <div class="row">
                <div class="col-xs-4 lighter">Date de début :</div>
                <div class="col-xs-8 lighter">
                  <%= simple_form_for [@place, @quote] do |f| %>
                  <div class="date-debut">
                  <%= f.input :start_date, required: true, label: false , as: :string, input_html: { class: "datepicker format-date" }, placeholder: 'JJ-MM-YYYY' %>
                  </div>
                  <div> <%= f.button :submit, "Mettre à jour", class: 'default-button-sm-date' %> </div>
                  </div>
                  <% end %>
                  <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center devis-button-placement">
                   <button type="button" class="btn default-button btn-lg active devis-button"><%= @quote.price %>€<br>par mois</button>
                   </div>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
